* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url("./Assets/Img/Banner\ of\ liquid\,\ drops\ and\ bubbles\ in\ green\ color\ to\ decorate\ poster\ and\ booklet\ cover_.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fp {
    color: white;
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

.all {
    width: 420px;
    padding: 40px;

    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    border-radius: 20px;

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

    color: white;
    text-align: center;
}

.all form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.all input {
    width: 100%;
    height: 50px;

    padding: 0 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;

    background: transparent;
    outline: none;

    color: white;
    font-size: 15px;
}

.all input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.all button {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 30px;

    background: #09aa16;
    color: white;

    font-size: 16px;
    font-weight: 400;

    cursor: pointer;

    transition: 0.3s;
}

.all button:hover {
    transform: translateY(-2px);
}

.all p {
    margin-top: 20px;
    font-size: 14px;
}

.all a {
    color:  rgb(32, 32, 189);
    text-decoration: none;
    font-weight: 400;
}

.all a:hover {
    text-decoration: underline;
}